<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>TP4 DPBO</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.php">TP4 DPBO</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.php">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="company.php">Company</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-4">
        <center>
        <div class="col-md-5">
            <div class="card my-5 mx-5">
                <div class="card-header text-center">
                    <h3 class="my-0">Company</h3>
                </div>
                <form method="post" id="data" action="company.php">
                    <div class="mb-3 row">
                        <input type="hidden" name="id" value="">
                        <label for="name" class="col-sm-4 col-form-label">Company Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name_company" placeholder="Add Company">
                        </div>
                    </div>
                    </form>
                    </div>
                    <div class="card-footer text-end">
                        <button type="submit" class="btn btn-success" name="add" form="data">Add</button>
                        <button type="reset" class="btn btn-danger" form="data">Cancel</button>
                    </div>
            </div>
        </center>
        </div>
        
    <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>COMPANY NAME</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      DATA_TABLE
    </tbody>
  </table>
      </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>